<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleDisplayName</key><string>Leaf</string><key>CFBundleExecutable</key><string>Leaf</string>
<key>CFBundleIdentifier</key><string>dev.aresx.leaf</string><key>CFBundleName</key><string>Leaf</string>
<key>CFBundlePackageType</key><string>APPL</string><key>CFBundleShortVersionString</key><string>0.1.0</string><key>CFBundleVersion</key><string>1</string>
<key>LSMinimumSystemVersion</key><string>13.0</string><key>NSHighResolutionCapable</key><true/>
<key>CFBundleDocumentTypes</key><array><dict><key>CFBundleTypeName</key><string>Documents</string><key>CFBundleTypeRole</key><string>Viewer</string><key>LSHandlerRank</key><string>Alternate</string><key>CFBundleTypeExtensions</key><array>
<string>pdf</string><string>epub</string><string>txt</string><string>log</string><string>md</string><string>markdown</string><string>fb2</string>
<string>cbz</string><string>zip</string><string>cbr</string><string>mobi</string><string>azw</string><string>azw3</string><string>djvu</string><string>djv</string>
<string>jpg</string><string>jpeg</string><string>png</string><string>gif</string><string>webp</string><string>heic</string><string>tiff</string><string>bmp</string>
</array></dict></array></dict></plist>
